h1 {
  color: rgb(77, 65, 220);
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

.error {
  color: rgb(91, 175, 1);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}